<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> welcome </h1>
    {%if data == 'register'%}
    <h1>fill the form</h1>
    <form action="" method="post">
        <label for="username">username</label><input type="text" name="username" id="username">
        <label for="firstname">firstname</label><input type="text" name="firstname" id="firstname">
        <label for="email">email</label><input type="email" name="email" id="email">
        <label for="phone">phone</label><input type="tel" name="phone" id="firstname">
        <label for="password">password</label><input type="password" name="password" id="firstname">
        <input type="submit" value="register">
    </form>
    {%elif data == 'login' %}
    <h1>login form</h1>
    <form action="" method="post">
        <label for="username">username</label><input type="text" name="username" id="username">
        <label for="password">password</label><input type="password" name="password" id="password">
        <input type="submit" value="login">
    </form>
    {%else%}
    <h1>sorry invalid input</h1>
    {% endif %}
</body>

</html>