<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>variable: {{a}} </h1>
    <h1>variable: {{b}} </h1>
    <h1>list value: {{li}}</h1>
    <h1>ending list value: {{li.3}}</h1>
    <h1>ending list value: {{li.3.1}}</h1>
    <h1>starting list value: {{li.0}}</h1>
    <h1>dict value: {{di}}</h1>
    <h1>dict x value: {{di.x}}</h1>

    <h1>student data</h1>
    <hr>
    <h2>college name: {{sai.col_name}}</h2>
    <h2>student name: {{sai.name}}</h2>
    <h2>student age: {{sai.age}}</h2>
    <h2>student email: {{sai.email}}</h2>
</body>

</html>